h1{
    text-align: center;
    margin-top: 3vw;
}
h2{
    /* margin-left: 20vw; */
    text-align: center;
}
li{
    margin-left: 10vw;
    font-size: larger;
}
li::marker{
    font-size: xx-large;
}
.warning{
    margin-left: 10vw;
    font-size: larger;
    text-indent: 0px;
}
a{
    color:#03a3f2 ;
}
hr{
    width: 80%;
}
img{
    max-width: 85vw;
}
    @media (max-width: 769px) {
    li{
        margin-left: 2vw;
    }
    .warning {
        margin-left: 2vw;
    }
    hr{
        width: 100%;
    }

    }
li h3 {
    font-size: 1.5em; /* Adjust the size to suit your needs */
    display: inline;
}
li b {
    font-size: xx-large;
}

.code{
    background-color: rgb(38, 36, 44);
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
}
