/* styles.css */
html {
    scroll-behavior:smooth;
  }

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(62, 59, 73);
}

.container {
    display: flex;
    width: 100%;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other content */
    position: fixed;
    background-color: rgba(144, 216, 255, 0.426);
    border-radius: 8px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

}

.sidebar {
    width: 250px;
    background-color: #302e38;
    padding: 20px;
    position: fixed;
    height: 100vh;
    left: 0px; /* Initially hidden */
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 999; /* Ensure it is below the hamburger menu */
}

.sidebar.open {
    left: -280px; /* Show when open */
}


.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}

.sidebar h2 {
    margin-top: 0;
    color:#ffffff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.indent1 {
    margin-left: 20px;
}

.indent2 {
    margin-left: 40px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar ul li a:hover {    
    text-decoration: underline;
}

.highlight {
    background-color: rgb(53, 52, 81);
    color: black; 
    padding: 5px;
    border-radius: 5px;
  }


#sidebar a {
display: block; /* This ensures that the link takes up the entire line (makes it look like a box) */
text-decoration: none; /* Optional: to remove the underline from the link */
}

.main-content {
    color: white;
    margin-left: 290px; /* Shift main content to the right to make space for the sidebar */
    margin-top:-20px;
    transition: margin-left 0.3s ease; /* Smooth transition */
}

.main-content.open {
    margin-left: 0px;
}


section {
    margin-bottom: 40px;
}


/* Styles for mobile devices */
@media (max-width: 768px) {
    .main-content {
        padding: 20px;
        margin-top: 20px;
        margin-left: 0px !important ;   
    }
    .sidebar ul {
        margin-top: 60px;
    }
    .sidebar {
        font-size: 17px;
        width: 250px;
        background-color: #302e38;
        padding: 20px;
        position: fixed;
        height: 100vh;
        left: -280px; /* Initially hidden */
        transition: left 0.3s ease;
        overflow-y: auto;
        z-index: 999; /* Ensure it is below the hamburger menu */
    }
    
    .sidebar.open {
        left: 0px; /* Show when open */
    }

    img {
        position: relative !important;
        max-width: 90vw !important;
        left: 0px !important; 
    }

    body {
        font-size: 12px;
    }

}

/* Styles for desktop devices */
@media (min-width: 769px) {
    .main-content {
        padding: 80px;
    }
    .hamburger-menu {
        margin-left: -60px;
    }

}

.link {
    color:#03a3f2 ;
}

.lg {
    background-color:lightgrey;
}

.bl {
    background-color:rgb(41, 41, 41);
    color: white;
}

.op{
    background-color: #877bad;
}

.jump{
    background-color: #6ab1b1;
}

.unit{
    background-color: #c7b59d;
}

.draw{
    background-color: #a08a8a;
}

.control{
    background-color: #d4816b;
}

.wp{
    background-color: #6b84d4;
}

.ti {
    text-indent: 30px;
}

img {
    position: relative;
    max-width: 100%;
}

a{
    color:#03a3f2 ;
}


ol.custom-list {
    list-style-type: none; /* Remove default numbering */
    padding-left: 0; /* Remove default padding */
}
ol.custom-list li {
    position: relative; /* Position relative to use ::before */
    padding-left: 20px; /* Space for the hyphen */
}
ol.custom-list li::before {
    content: "- "; /* The hyphen followed by a space */
    position: absolute; /* Position absolute to place it */
    left: 0; /* Align it to the left of the li */
    top: 0; /* Align it to the top of the li */
}

.oplist {
    margin-top: 5px;
    margin-left: 20px;
}

.spin{
    display: block;
    padding-left: 30px;
    margin-bottom: -8px;
}

.ytlink {
    background-color: #7ed4ff;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    display: flex;
    width: 300px;
    height: 30px;


}

table {
    width: 90vw; /* Make the table width 100% of its container */
    border-collapse: collapse; /* Collapse borders */
}
th, td {
    border: 1px solid black; /* Add a border to table cells */
    padding: 3px; /* Add padding inside cells */
    text-align: left; /* Align text to the left */
}
th {
    background-color: #f2f2f2; /* Add background color to table headers */
}
